<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>WCCI Restaurant Reviews</title>

<link rel="stylesheet" type="text/css" href="/index.css"></link>

</head>

<body>
	<header>
		<h1>WCCI Restaurant Reviews</h1>
	</header>
	<h2 class="title">Categories</h2>
	<div class="container-all">
		<div class="repeatreview" th:each="categories: ${modelAllCategories}">
			<span>
				<a  th:href="@{/category(id=${categories.id})}">
					<h2 class="title" th:text="${categories.getName()}"></h2>
					<img class="Image-single" th:src="${categories.getImg()}" /> 
				</a> 
			</span>
		</div>
	</div>

</body>

<footer>
	<div>
		<a th:href="@{/home}"> Go Home </a>
	</div>
	<p>Created by C&amp;T&amp;M&amp;B &#169;2017 all information and
		comments are not real and are for demo purpose only
	</p>
</footer>

</html>